ASM
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Playground/FileContentIndex/b7b75a78-9f0f-4d5b-9878-33ff1c06ecad.vsidx
.vs/Playground/FileContentIndex/read.lock
.vs/Playground/v17/.wsuo
